/* general selectors ..................*/

*,
*::before,
*::after {
    font-family: Roboto;
}
.primary {
    display: flex;
    margin: 0px;
}
body {
    margin: 0px;
    box-sizing: border-box;
}

/* .one selectors .....................*/

.one {
    height: 25vh;
    width: 100vw;
    background-color: #1f2937;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header-container {
    height: 24px;
    width: 80%;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
}
.header-container h1{
    color: white;
    font-weight: 600;
    font-size: 22px;
}
.header-container ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: white;
}
.main-container {
    display: flex;
    flex: 0 0 auto;
    height: 38%;
    width: 80%;
}
.statement-container {
    color: white;
}
.statement-container h1 {
    font-size: 35px;
}

/* .two selectors .....................*/

.two {
    height: 23vh;
    width: 100vw;
}
.img-container {
    display: flex;

}

/* .three selectors ...................*/

.three {
    height: 22vh;
    width: 100vw;
    background-color: #e5e7eb;
}
.quote {
    display: flex;
}

/* .four selectors ....................*/

.four {
    height: 20vh;
    width: 100vw;
}
.call-to-action {
    display: flex;
}
.call-to-action .text {
    display: flex;
}

/* .five selectors ....................*/

.five {
    height: 10vh;
    width: 100vw;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}