/* universal selectors */

*,
*::before,
*::after {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.all {
    height: 100vh;
    width: 100vw;
}
img {
    height: 50px;
    width: 50px;
}

/* section A selectors */

.a {
    height: 26%;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    background-color: #1F2937;
}
.a-main {
    flex: 0 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
}
.a-header {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}
.a-header h1 {
    font-size: 22px;
    font-weight: bold;
    flex: 0 1 auto;
}
.a-header ul {
    display: flex;
    flex: 0 0 auto;
    list-style: none;
    gap: 18px;
}
.a-header ul li {
    font-size: 16px;
    color: #E5E7EB;
}
.a-hero-and-image {
    display: flex;
    flex: 0 1 auto;
    color: white;
    gap: 20px;
    justify-content: space-between;
}
.a-hero {
    flex: 0 1 auto;
}
.a-hero button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border-color: #3882F6;
    height: 28px;
    width: 80px;
    flex: 0 0 auto;
}
.a-image {
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
}
.a-image img {
    flex: 0 1 auto;
    height: 141.88px;
    width: auto;
}

/* section B selectors */

.b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.b-main {
    display: flex;
    justify-content: center;
    width: 100%;
}
.b h1 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 900;
    font-size: 27px;
    height: 24%;
    flex: 1 1 auto;
}
.b-image-and-subtext-holder {
    flex: 0 1 auto;
    height: 200px;
    width: 225px;
    text-align: center;
}
.b-image-and-subtext-holder img {
    width: 200px;
    height: 130px;
    border-radius: 50px;
}

/* section C selectors */

.c {
    height: 22%;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-main {
    flex: 0 1 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.c-quote {
    font-size: 24px;
    color: #1f2937;
    flex: 1 1 auto;
}
.c-quote i {
    font-weight: 0;
}
.c-quoted-person {
    flex: 1 1 auto;
    align-self: flex-end;
    margin-right: 32px;
}
/* section D selectors */
/* section E selectors */