/* general selectors ..................*/

*,
*::before,
*::after {
    font-family: Roboto;
}
.primary {
    display: flex;
    margin: 0px;
}
body {
    margin: 0px;
    box-sizing: border-box;
}

/* .one selectors .....................*/

.one {
    height: 26vh;
    width: 100vw;
    background-color: #1f2937;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header-container {
    height: 24px;
    width: 80%;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
}
.header-container h1{
    color: white;
    font-weight: 600;
    font-size: 22px;
}
.header-container ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: white;
}
.hero-and-img-container {
    display: flex;
    flex: 0 0 auto;
    height: 38%;
    width: 80%;
}
.hero-container {
    color: white;
    display: flex;
    flex-direction: column;
}
.hero-container p {
    flex: 1 1 auto;
}
.hero-container h1 {
    font-size: 48px;
    font-weight: 900;
    flex: 0 0 auto;
}
.hero-container button {
    flex: 0 0 auto;
    height: 30px;
    width: 60px;
}
/* .two selectors .....................*/

.two {
    height: 24vh;
    width: 100vw;
}
.img-container {
    display: flex;

}

/* .three selectors ...................*/

.three {
    height: 24vh;
    width: 100vw;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}
.quote {
    display: flex;
}

/* .four selectors ....................*/

.four {
    height: 20vh;
    width: 100vw;
}
.call-to-action {
    display: flex;
}
.call-to-action .text {
    display: flex;
}

/* .five selectors ....................*/

.five {
    height: 6vh;
    width: 100vw;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}